/* 导入 Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* 应用于根目录的字体样式 */
:root {
  --font-family-base: 'Handlee', cursive;
}

body {
  /* font-weight: 500; */
  /* font-family: var(--font-family-base); */
}

.logo {
  border-radius: 50%;
}

.vp-doc table {
  transform: translateX(50%);
  margin-left: -50%;
}

.vp-doc th {
  text-align: center !important;
  vertical-align: center !important;
}

.vp-doc td {
  text-align: center !important;
  vertical-align: center !important;
}
